body {
  background-color: aliceblue;
  width: 100vw;
}

.header {
  width: 100vw;
  /* border: solid green 3px; */
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.header img {
  height: 100px;
}
h2 {
  color: white;
}
.block {
  width: 100vw;
  /* border: solid 2px tomato; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  background-color: rgb(155, 153, 153);
}

.block img {
  width: 250px;
  height: 300px;
  border: white 2px solid;
}

p {
  width: 250px;
}
